/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 750px;
	margin: 0 auto;
}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}

thead 
{
	background-color: yellow;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

tbody tr:nth-child(even) td 
{
	background-color: yellow;
}
table caption {
	font-weight: bold;
	font-size: 1.5em; 
	padding: 10px;
}

thead th:first-child::after
{	
	display: block;
}

tbody td:first-child:nth-last-child(4)
{
	font-weight: bold;
	background-color: white;
	vertical-align: top;
}

table tr:last-of-type td:first-of-type {
	text-align: right;
	background-color: yellow;
}

td.right {
	text-align: right;
}
