.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:white;
	position: absolute;
  	top: 8px;
  	left: 8px;
}
.content .image img {
	width: 250px;
 }
 .content {
	width: 70%;
	margin: 0 auto;
 }
 .content .image {
	float: left;
	padding-right: 15px;
	padding-bottom: 10px;
 }
 .main{
	margin-top: 50px;
	font-size: larger;
	margin-left: 10px ;
 }
.head{
	margin-top: 50px;
	display: flex;
	justify-content: center;
}
.header .logo img {
	margin-left: 130px;
}
.header {
	display: flex;
	align-items: center;
  }
title{
	margin-left: 100px;
}
.logo {
	margin-right: 10px; /* Space between logo and title */
}